body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(99deg, rgb(118, 156, 147), rgb(238, 162, 90));
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
